/* main */
html {
    font-size: 16px;
}
body {
    margin: 0;
}
* {
    font-family: 'Inter', sans-serif;
}
/* cards */
.product-card-header {
    border-bottom: none;
    padding-bottom: 0;
}
.cart-product-card-body {
    display: flex;
    gap: 1rem;
}
.cart-product-card-body .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cart-product-card-body .text:last-child {
    margin-left: auto;
}
.cart-product-card-body h3 {
    transition: .2s;
    will-change: color;
    margin: 0;
}
.cart-product-card-body .img {
    height: 10rem;
    border-radius: .5rem;
    background: var(--el-bg-color-page);
}
/* text */
.section-header {
    color: var(--el-text-color-primary);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin: 0;
}
.section .section-header {
    margin-bottom: 1rem;
}
/* from element-plus */
.el-dialog {
    border-radius: 1rem;
}
/* utilities */
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex.low {
    justify-content: flex-start;
}
.flex.col {
    flex-direction: column;
}
.gap {
    gap: 1rem;
}
.contents {
    display: contents;
}