/* main */
html {
    font-size: 16px;
}
body {
    margin: 0;
}
* {
    font-family: 'Inter', sans-serif;
}
/* cards */
.product-card-header {
    border-bottom: none;
    padding-bottom: 0;
}
/* utilities */
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex.low {
    justify-content: flex-start;
}
.flex.col {
    flex-direction: column;
}
.gap {
    gap: 1rem;
}
.contents {
    display: contents;
}